@use "mixins/rem" as *;
@use "mixins/includes" as *;
@use "mixins/media-query" as *;

.articles {
  position: relative;
  padding-bottom: rem(160px);

  .container {
    max-width: var(--container-large);
  }

  &__list {
    display: grid;
    gap: rem(8px);

    /* --- VIEW MODES --- */
    &.list-view {
      grid-template-columns: 1fr;
      gap: rem(8px);
    }

    &.grid-view {
      grid-template-columns: repeat(auto-fill, minmax(rem(195px), 1fr));
      gap: rem(16px) rem(8px);
    }

    /* --- CARD BASE --- */
    .article-card {
      background-color: #fff;
      @include flex-center-y;
      gap: rem(30px);
      width: 100%;

      &__media {
        width: rem(86px);

        img {
          width: rem(86px);
          height: rem(86px);
          display: block;
        }
      }

      &__meta {
        font-weight: 500;
        padding-right: rem(10px);

        @include media-query-min(var(--container-mobile, rem(600px))) {
          padding-right: rem(79px);
        }
      }

      &__info {
        display: flex;
        gap: rem(20px);
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
      }

      &__title {
        margin-bottom: rem(7px);
      }

      &__stats {
        display: flex;
        gap: rem(16px);
      }
    }

    /* ============================
       LIST VIEW STYLES
    ============================= */
    &.list-view {

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(80px), 1fr));

        @include media-query-min(rem(600px)) {
          display: flex;
          flex-direction: column
        }

      .article-card {
        @include flex-center-y;
        flex-direction: column;
        gap: rem(10px);

        @include media-query-min(rem(600px)) {
          flex-direction: row;
          gap: rem(30px);
        }

        &__info {
          display: flex;
          flex-direction: column;
          padding: 0 rem(15px) rem(15px);

          @include media-query-min(rem(600px)) {
            flex-direction: row;
            padding: 0;
          }          

        }

          @include media-query-min(var(--container-mobile)) {
            flex-direction: column;
          }
      }
    }

    /* ============================
       GRID VIEW STYLES
    ============================= */
    &.grid-view {
      .article-card {
        flex-direction: column;
        gap: 0;

        &__media {
          width: 100%;

          img {
            width: 100%;
            height: auto;
            display: block;
          }          
        }

        &__info {
          display: flex;
          flex-wrap: wrap;
          padding: rem(12px);
          width: 100%;
        }

        &__stats {
          justify-content: space-between;
          flex-direction: column;
        }

        &__meta {
          padding-right: 0;
          flex: 1 1 auto; 

          &:last-child {
            flex: 1 1 100%; 
            display: flex;
            justify-content: space-between;
          }
        }

        &__date {
          font-size: rem(12px);
        }

      }
    }
  }
}

/* SWITCH BUTTONS */
.view-switch {
  display: flex;
  justify-content: flex-end;
  gap: rem(21px);
  padding: 18px 0 23px;

  &__btn {
    color: var(--color-light2);
    transition: var(--transition);

    &:not(.active):hover {
      opacity: 0.7;
    }

    &.active {
      color: var(--color-accent-active);
    }

    &[data-view="list"] {
      transform: rotate(90deg);
      
      @include media-query-min(rem(600px)) {
        transform: rotate(0deg);
      } 

    }

  }
}

/* ICONS */
.icon {
  --icon-size: 18px;
  width: var(--icon-size);
  height: var(--icon-size);
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  margin-right: rem(6px);
  margin-top: -6px;

  &::before {
    content: "";
    position: absolute;
    top: rem(4px);
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--heart::before {
    background-image: url("../img/icon-heart.svg");
  }

  &--comment::before {
    background-image: url("../img/icon-comment.svg");
  }
}

.abstract-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}