@use "mixins/rem" as *;
@use "mixins/includes" as *;
@use "mixins/media-query" as *;

// ===============================
// HEADER
// ===============================
.header {
  position: relative;
  width: 100%;
  max-width: var(--site-width);
  // height: rem(172px);
  margin: 0 auto;

  background: rgba(255, 255, 255, 0.67);
  box-shadow:
    0 4px 24px rgba(0, 0, 0, 0.12),
    inset 0 12px 24px rgba(0, 0, 0, 0.12);

  &__container {
    position: relative;
    height: 100%;
  }

  &__content {
    @include flex-center-y;
    height: 100%;
    padding: 20px 0 21px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    max-width: rem(630px);
    padding-right: rem(70px);

    @include media-query-min(rem(600px)) {
      padding-right: rem(130px);
    } 

    a {
      display: block;

    }
  }

  &__info {
    margin-left: -50px;


    &-row {
      @include flex-center-y;
      flex-wrap: wrap;
      gap: rem(16px);

      &:not(:last-child) {
        margin-bottom: rem(15px);
      }
    }

  }

  &__title {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: rem(24px);
    line-height: rem(29px);
    letter-spacing: -0.01em;
    margin: 0;
  }

  &__vector {
    position: absolute;
    inset: 0 auto auto 0;
    width: 50%;
    max-width: rem(630px);
    height: rem(401px);

    overflow: hidden;
    z-index: -1;

    // Column wrapper
    &-col { 
      position: absolute;
      right: rem(5px);

      width: rem(630px);
      height: rem(400px);
    }

    // SVG/IMG
    &-img {
      position: absolute;
      top: 0;
      width: rem(630px);
      height: rem(400px);
      display: block;
    }
  }

}


.profile-stats {
    @include flex-center-y;
    flex-wrap: wrap;
    gap: rem(16px);

    &__item {

    }
    
    &__value {
      font-weight: 700;
    }

    &__label {
      
    }


}

main {
  margin: 0 auto;
  max-width: var(--site-width);
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 172px);
}