<div class="articles">
  <div class="articles__container container">

    <div class="articles__view-switch view-switch">
      
      <button class="view-switch__btn" data-view="grid">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="6" height="6" fill="currentColor"/>
          <rect x="8" width="6" height="6" fill="currentColor"/>
          <rect x="16" width="6" height="6" fill="currentColor"/>
          <rect y="8" width="6" height="6" fill="currentColor"/>
          <rect y="16" width="6" height="6" fill="currentColor"/>
          <rect x="8" y="8" width="6" height="6" fill="currentColor"/>
          <rect x="8" y="16" width="6" height="6" fill="currentColor"/>
          <rect x="16" y="8" width="6" height="6" fill="currentColor"/>
          <rect x="16" y="16" width="6" height="6" fill="currentColor"/>
        </svg>
      </button>

      <button class="view-switch__btn" data-view="list">
        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="6" height="6" fill="currentColor"/>
          <rect y="8" width="6" height="6" fill="currentColor"/>
          <rect y="16" width="6" height="6" fill="currentColor"/>
          <rect x="9" y="10" width="15" height="2" fill="currentColor"/>
          <rect x="9" y="18" width="15" height="2" fill="currentColor"/>
          <rect x="9" y="2" width="15" height="2" fill="currentColor"/>
        </svg>  
      </button>

    </div>

    <div id="articles-list" class="articles__list articles__list--list-view list-view">

      <div class="article-card">

        <div class="article-card__media">
          <img src="assets/img/image-1.png" alt="" width="">
        </div>

        <div class="article-card__info">

          <div class="article-card__meta">
            <div class="article-card__title">Today</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>128</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>31</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">9-08-2016</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>67</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>22</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">Image upload</div>
            <div class="article-card__stats">
              <span class="article-card__date">11-04-2016</span>
            </div>
          </div>

        </div>

      </div>  
      
      <div class="article-card">

        <div class="article-card__media">
          <img src="assets/img/image-2.png" alt=""> 
        </div>

        <div class="article-card__info">

          <div class="article-card__meta">
            <div class="article-card__title">Today</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>128</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>31</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">9-08-2016</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>67</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>22</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">Image upload</div>
            <div class="article-card__stats">
              <span class="article-card__date">11-04-2016</span>
            </div>
          </div>

        </div>

      </div>  

      <div class="article-card">

        <div class="article-card__media">
          <img src="assets/img/image-3.png" alt="">
        </div>

        <div class="article-card__info">

          <div class="article-card__meta">
            <div class="article-card__title">Today</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>128</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>31</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">9-08-2016</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>67</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>22</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">Image upload</div>
            <div class="article-card__stats">
              <span class="article-card__date">11-04-2016</span>
            </div>
          </div>

        </div>

      </div>     
      
      <div class="article-card">

        <div class="article-card__media">
          <img src="assets/img/image-4.png" alt="">
        </div>

        <div class="article-card__info">

          <div class="article-card__meta">
            <div class="article-card__title">Today</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>128</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>31</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">9-08-2016</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>67</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>22</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">Image upload</div>
            <div class="article-card__stats">
              <span class="article-card__date">11-04-2016</span>
            </div>
          </div>

        </div>

      </div>       

      <div class="article-card">

        <div class="article-card__media">
          <img src="assets/img/image-5.png" alt="">
        </div>

        <div class="article-card__info">

          <div class="article-card__meta">
            <div class="article-card__title">Today</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>128</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>31</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">9-08-2016</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>67</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>22</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">Image upload</div>
            <div class="article-card__stats">
              <span class="article-card__date">11-04-2016</span>
            </div>
          </div>

        </div>

      </div>       

      <div class="article-card">

        <div class="article-card__media">
          <img src="assets/img/image-6.png" alt="">
        </div>

        <div class="article-card__info">

          <div class="article-card__meta">
            <div class="article-card__title">Today</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>128</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>31</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">9-08-2016</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>67</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>22</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">Image upload</div>
            <div class="article-card__stats">
              <span class="article-card__date">11-04-2016</span>
            </div>
          </div>

        </div>

      </div>  
      
      <div class="article-card">

        <div class="article-card__media">
          <img src="assets/img/image-7.png" alt="">
        </div>

        <div class="article-card__info">

          <div class="article-card__meta">
            <div class="article-card__title">Today</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>128</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>31</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">9-08-2016</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>67</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>22</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">Image upload</div>
            <div class="article-card__stats">
              <span class="article-card__date">11-04-2016</span>
            </div>
          </div>

        </div>

      </div>       

      <div class="article-card">

        <div class="article-card__media">
          <img src="assets/img/image-8.png" alt="">
        </div>

        <div class="article-card__info">

          <div class="article-card__meta">
            <div class="article-card__title">Today</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>128</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>31</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">9-08-2016</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>67</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>22</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">Image upload</div>
            <div class="article-card__stats">
              <span class="article-card__date">11-04-2016</span>
            </div>
          </div>

        </div>

      </div>   

      <div class="article-card">

        <div class="article-card__media">
          <img src="assets/img/image-9.png" alt="">
        </div>

        <div class="article-card__info">

          <div class="article-card__meta">
            <div class="article-card__title">Today</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>128</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>31</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">9-08-2016</div>
            <div class="article-card__stats">
              <span class="article-card__likes"><i class="icon icon--heart"></i>67</span>
              <span class="article-card__comments"><i class="icon icon--comment"></i>22</span>
            </div>
          </div>

          <div class="article-card__meta">
            <div class="article-card__title">Image upload</div>
            <div class="article-card__stats">
              <span class="article-card__date">11-04-2016</span>
            </div>
          </div>

        </div>

      </div>       


<div class="abstract-2">
<svg width="210" height="368" viewBox="0 0 210 368" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M121.932 39.2032C135.932 105.603 148 118.203 156.932 119.703C205.275 127.822 224.932 51.7032 280.932 100.203C336.932 148.703 330.432 411.703 209.432 361.203C88.4321 310.703 83.4321 249.703 73.4321 225.703C65.4321 206.503 39.7655 184.037 27.9322 175.203C-26.8678 126.803 11.4322 58.3699 37.4322 30.2032C59.7655 5.53652 107.932 -27.1968 121.932 39.2032Z" fill="url(#paint0_linear_0_10)"/>
<defs>
<linearGradient id="paint0_linear_0_10" x1="118" y1="-0.296816" x2="51.686" y2="332.244" gradientUnits="userSpaceOnUse">
<stop stop-color="#40AF79"/>
<stop offset="1" stop-color="#124757"/>
</linearGradient>
</defs>
</svg>
</div>      


    </div>

    <div class="btn-wrap">
      <a href="#" class="btn btn--load-more">Load more</a>
    </div>

  </div>


</div>
