@use "./../mixins/rem" as *;

// ------------------------------------------------------
//  SCSS VARIABLES (for calculations inside SCSS)
// ------------------------------------------------------

$font-size-base: rem(16px);
$line-height-base: rem(24px);

$container-large: rem(836px);
$container-mobile: rem(600px);

$font-size: rem(16px);
$line-height: rem(16px);

 $site-width: rem(1440px);

// ------------------------------------------------------
//  CSS ROOT VARIABLES (GLOBAL TOKENS)
// ------------------------------------------------------

:root {
  // --------------------
  // TYPOGRAPHY
  // --------------------
  --font-size-base: 16px; // browser default fallback
  --font-size: #{$font-size-base};
  --line-height: #{$line-height-base};

  --site-width: #{$site-width};

  --font-weight: 400;

  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Montserrat", sans-serif;
  
  --font-size: #{$font-size};
  --line-height: #{$line-height};

  // --------------------
  // COLORS
  // --------------------
  --body-bg: #F5F5F5;
  --color-text: #000000;  
  --color-accent-primary: #40AF79;
  --color-accent-secondary: #124757;
  --color-accent-active: #3D8EDA;
  --color-border: #DEDEDE;
  --color-light: #FAFAFA;
  --color-light2: #C8C7C7;
  --color-icon: #5F5F5F;
  --color-icon-bg: #EBEBEB;

  --color-btn-light: #929292;

  // --------------------
  // LAYOUT
  // --------------------
  --container-large: #{$container-large};
  --container-mobile: #{$container-mobile};

  // --------------------
  // EFFECTS
  // --------------------
  --transition: 0.24s;
  --gradient-primary: linear-gradient(235.02deg, #40AF79 8.03%, #124757 90.34%);
}
